.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #141e30;
  border-radius: 10px;
  z-index: 10;
  background-color: #eb3e3e;
  height: 50%;
  width: 50%;
}

.modalHeader {
  border-bottom: 2px solid #141e30;
  background: #141e30;
}

.modalHeader h3 {
  margin-top: 0;
  padding-top: 3%;
  background: #141e30;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
}

.modalBody {
  padding: 10px 15px;
}

.modalOverlay {
  position: fixed;
  /* opacity: 0; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.teamPickButton {
  color: #141e30;
  text-transform: uppercase;
  font-size: 100%;
  background: white;
  padding: 20px;
  border-radius: 40px;
  border: 2px solid #141e30;
  width: 90%;
  margin-top: 10%;
}

.teamPickButton:hover {
  /* background: #d33737; */
  color: white;
  background: #141e30;
  text-decoration: white;
  border: 2px solid white;
}

.teamPickOptions {
  width: 100%;
  padding: 0;
  margin: 0;
}

.teamPickOption1 {
  margin-top: 10%;
  font-size: 1.5em;
  width: 50%;
  float: left;
  text-align: center;
}

.teamPickOption2 {
  margin-top: 10%;
  font-size: 1.5em;
  width: 50%;
  text-align: center;
  float: right;
}

.labelOption1 {
  padding-right: 10%;
}

.labelOption2 {
  padding-right: 10%;
}
