.graphContainer {
  background: white;
  height: 40%;
  width: 20%;
  margin-left: 5%;
  margin-bottom: 20%;
  padding: 0;
  text-align: center;
  justify-content: center;
  border-radius: 10%;
}

.teamLabels {
  margin-top: 55%;
}

hr {
  padding: 0;
  margin: 0;
}

.graphTeam1 {
  height: 5%;
  text-align: left;
  float: left;
  padding-left: 20%;
}

.graphTeam2 {
  height: 5%;
  text-align: right;
  float: right;
  padding-right: 20%;
}
